*{
    text-align: center;
}
h1{
    padding:10px;
    background-color: black;
    color:cornsilk;
}
div{
    margin:10px
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.selector{
    width: 150px;
    height: 150px;
}
.images{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    border-radius: 50%;

}

.score{
    display: flex;
    flex-direction: column;
}
.score-board{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: large;

}
#result{
    display: inline-block;  
    background-color: black;
    color:beige;
    width:auto;
    border-radius: 10px ;
    font-size: 20px;
    padding:20px
}

.hovered{
    border: 5px solid black;
    border-radius: 50%;
}

.lost{
    background-color: red;
    color:black;
}

.won{
    background-color: rgb(40, 200, 4);
    color:white;
}